body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  margin: 0 auto;
}

.section {
  padding: 96px 0;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  display: flex;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

/* ------MENU------ */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-wrap {
  display: flex;
  align-items: center;
}

.display-header {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.menu {
  display: none;
  gap: 40px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-bottom: 16px;
  display: block;
}

.logo-studio {
  color: #2e2f42;
}

.link {
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.contact-link {
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.contact-link:active {
  color: #404bbf;
}

.address {
  display: none;
}

/* ------MENU MOBILE------- */

.icon-mob {
  fill: #2f2f37;
  cursor: pointer;
}

.menu-icon-mob {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.menu-mobile {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  background-color: #fff;
  padding: 72px 24px 40px 16px;
  display: flex;
  flex-direction: column;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(100%);
}

.menu-mobile.is-open-menu {
  transform: translateX(0);
}

.menu-list {
  margin-bottom: auto;
}
.menu-list-mob {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu-mobile-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-decoration: none;
}

.address-mobile {
  font-style: normal;
}

.menu-mobile-link:hover,
.menu-mobile-link:focus {
  color: #404bbf;
}

.display-address-mobile {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.contact-link-mobile {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.current {
  color: #404bbf;
}

.contact-link-mobile:hover,
.contact-link-mobile:focus {
  color: #404bbf;
}

.contact-link-mobile:active {
  color: #404bbf;
}

.socials-list-mobile {
  display: flex;
  margin-bottom: 0px;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 40px;
}

.socials-circle-mobile {
  width: 40px;
  height: 40px;
}

.socials-link-mobile {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link-mobile:hover,
.socials-link-mobile:focus {
  background-color: #404bbf;
}

.socials-logo-mobile {
  fill: #f4f4fd;
}

/* --------people-office---------- */

.background {
  padding: 72px 0;
  text-align: center;
  max-width: 320px;
  background-color: rgba(46, 47, 66, 0.7);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/mobile/people-office.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .background {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/mobile/people-office.jpg");
  }
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 72px;
  max-width: 216px;
}

.button {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  border: none;
  border-radius: 4px;
  height: 56px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icons-container {
  display: none;
}

.goals-column {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.goal-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.goal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* SECTION TEAM */

.background-team {
  background: #f4f4fd;
}

.header-titles {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.card {
  width: 264px;

  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.person-list {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 72px;
}

.person-description {
  padding: 32px 0px;
}

.person {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.function {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.socials-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.socials-circle {
  width: 40px;
  height: 40px;
}

.socials-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
  background-color: #404bbf;
}

.socials-logo {
  fill: #f4f4fd;
}

/* SECTION PORTFOLIO */

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio-card {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.trans-box {
  position: relative;
  overflow: hidden;
}

.overlay {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .overlay,
.portfolio-card:focus .overlay {
  transform: translateY(0);
}

.item-portfolio {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.category {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-heading {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* SEKCTION FOOTER */

.footer {
  color: #f4f4fd;
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}

.footer-logo {
  text-align: center;
}

.footer .logo-f {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-f {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.logo-studio-footer {
  color: #f4f4fd;
}

.footer .text {
  width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  text-align: start;
}

.container-social-link {
  text-align: center;
}

.text-social {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.socials-list-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.socials-link-footer {
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials-link-footer:hover,
.socials-link-footer:focus {
  background-color: #31d0aa;
}

.socials-icon {
  fill: #f4f4fd;
}

.sub-text {
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.email {
  text-align: center;
}

.email-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding-left: 16px;
}

.email-input::placeholder {
  opacity: 0.6;
}

.sub-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #fff;
  cursor: pointer;
  min-width: 165px;
  height: 40px;
}

.send-icon {
  fill: #fff;
  margin-left: 16px;
}

.sub-button:hover,
.sub-button:focus {
  background: #404bbf;
}

/* -------MODAL------- */

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.close {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  fill: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover,
.close:focus {
  background-color: #404bbf;
  fill: #fff;
  border: none;
}

.close:active {
  background-color: #404bbf;
  fill: #fff;
  border: none;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form {
  margin-bottom: 8px;
}
.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.form-field {
  position: relative;
}

.name-field {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-field:hover,
.name-field:focus {
  border-color: #4d5ae5;
  fill: #4d5ae5;
}

.name-field:hover + svg,
.name-field:focus + svg {
  border-color: #4d5ae5;
  fill: #4d5ae5;
}

.form-comment {
  margin-bottom: 16px;
}

.comment-field {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(46, 47, 66, 0.4);
}

.comment-field:hover,
.comment-field:focus {
  border-color: #4d5ae5;
}

.comment-field::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.checkbox-with-label {
  margin-bottom: 24px;
}

.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.check {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.send-btn {
  display: block;
  margin: auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

/* ===============================TABLET================================*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .menu {
    display: flex;
  }

  .menu-mobile-link {
    display: block;
  }

  .address {
    display: flex;
    align-items: center;
    font-style: normal;
  }

  .display-address {
    display: block;
  }

  .menu-list-mob.is-open,
  .display-address-mobile.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .display-address-mobile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;
    padding: 16px 0;
    justify-content: flex-end;
  }
  .menu-list-mob {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    gap: 40px;
  }
  .current {
    position: relative;
    color: #404bbf;
  }
  .current::after {
    content: "";
    background-color: #404bbf;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .logo {
    margin-right: 120px;
  }
  .menu-mobile,
  .menu-icon-mob {
    display: none;
  }

  .background {
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 1157px;
    height: 436px;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/tablet/people-office.jpg");
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .background {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/tablet/people-office@2x.jpg");
    }
  }

  .title {
    font-size: 56px;
    line-height: 1.07143;
    margin-bottom: 36px;
    max-width: 496px;
  }

  .goals-column {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .goal {
    flex-basis: calc((100% - 24px) / 2);
  }

  .goal-title {
    text-align: start;
  }

  .person-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    grid-column: 2;
    row-gap: 72px;
    column-gap: 24px;
  }

  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 24px;
  }

  .portfolio-card {
    flex-basis: calc((100% - 24px) / 2);
    grid-column: 2;
  }

  /* sekcja footer TABLET */

  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: baseline;
    gap: 72px 24px;
    padding-left: 108px;
  }

  .footer-logo {
    text-align: start;
  }

  .text-social {
    text-align: start;
  }
  .email {
    display: flex;
  }
  .email-input {
    width: 264px;
  }

  .sub-text {
    text-align: start;
  }
  .sub-button {
    margin-left: 24px;
  }

  .modal {
    width: 408px;
    min-height: 584px;
  }
}

/*======================DESKTOP======================= */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section {
    padding: 120px 0;
  }

  .display-address {
    display: flex;
    gap: 40px;
  }

  .contact-link {
    font-size: 16px;
  }

  .background {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    height: 600px;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/desktop/people-office.jpg");
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .background {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/desktop/people-office@2x.jpg");
    }
  }

  .title {
    margin-bottom: 48px;
  }

  .goals-column {
    gap: 24px;
  }

  .icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
    margin-bottom: 8px;
  }

  .goal {
    flex-basis: calc((100% - 72px) / 4);
  }

  .goal-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .goal-text {
    font-weight: 400;
  }

  .person-list {
    gap: 24;
  }

  .card {
    flex-basis: calc((100% - 72px) / 4);
  }

  .portfolio-card {
    flex-basis: calc((100% - 48px) / 3);
  }

  .footer {
    padding: 100px 0;
  }

  .footer-logo {
    margin-right: 120px;
  }

  .footer-container {
    gap: 0;
  }

  .container-social-link {
    margin-right: 80px;
  }

  .sub {
    max-width: 456px;
  }
}
